:root {
  --primary: #305043;
  --secondary: #B1B887;
  --tertiary: #85B074;
  --highlight:#8CB48C;
  --white: #fff;
  --black:#000;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  font-size: 16px;
}
*,
::after,
::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: all 4s;
}

video {
  position: sticky;
  top: 0;
  width: calc(100vw - 17px);
  max-height: 75vh;
  opacity: 0.7;
  display: none;
}

input[name="runtime"] {
  position: sticky;
  bottom: 10px;
  width: 90vw;
}

#list {
  display: flex;
  width: 90vw;
  margin: 20px auto;
  flex-wrap: wrap;
}

#list button {
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  border: none;
  margin: 8px 2px;
  padding: 15px;
  border-radius: 6px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  border: 1px solid var(--primary);
  border-top: 1px solid rgb(25, 25, 112, 0.4);
  background-color: var(--highlight);
  box-shadow: 5px 5px 5px var(--tertiary);
  color: var(--secondary);
}

#list button p {
  width: 10%;
  background-color:var(--white);
}

#list button div {
  pointer-events: none;
}

.wrapper {
  display: inline-block;
  overflow: hidden;
}

.marquee {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}
