:root {
  --primary: #696b6a;
  --secondary: #b1b887;
  --tertiary: #4b4b4b;
  --highlight: #8cb48c;
  --white: #fff;
  --black: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
::after,
::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: color 4s, background-color 4s, box-shadow 2s;
  user-select: none;
}

html {
  background-color: var(--black);
}

video {
  position: sticky;
  top: 0;
  width: calc(100vw - 17px);
  max-height: 75vh;
  opacity: 0.7;
  display: none;
}

svg-play{
  opacity: 0;
}

input[name="runtime"] {
  position: sticky;
  bottom: 10px;
  width: 90vw;
}

canvas {
  position: fixed;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  filter: blur(5px);
  z-index: -1;
  transition: opacity 4s;
  transform: scale(2);
}

#list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90vw;
  margin: 1rem auto;
}

#list button {
  display: flex;
  flex-grow: 1;
  flex-basis: 20%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column-reverse;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  border: none;
  margin: 8px 2px;
  padding: 1rem;
  border-radius: 6px;
  text-align: left;
  white-space: nowrap;
  height: 150px;
  border: 1px solid var(--primary);
  border-top: 1px solid rgb(25, 25, 112, 0.4);
  background-color: var(--primary);
  color: var(--white);
  background-size: cover;
}

#list button p {
  width: 10%;
  background-color: var(--white);
}

#list button div {
  pointer-events: none;
}

#list button:hover {
  animation: expand 300ms;
  animation-fill-mode: forwards;
}

#list button:hover svg-play {
  opacity: 0.6;
}

.wrapper {
  overflow: hidden;
}

.marquee {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}
