fieldset {
  width: 50vw;
  box-sizing: border-box;
}

input {
  width: 100%;
  margin: 10px auto;
  height: 25px;
  border-radius: 6px;
  border: 1px solid gray;
}

textarea {
  width: 100%;
  margin: 10px auto;
  min-height: 25vh;
  border-radius: 6px;
  border: 1px solid gray;
}
